.apply-btn{
    background-color: rgb(29, 29, 126);
    color: #fff;
    border-radius: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    border: 0;
    margin-right: 10px;
    margin-top: 10px;
}
.input-theme{
    padding: 10px;
}